extends layout

block content
  h1= title

  form(method='POST' action='/itempic' enctype="multipart/form-data")
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name of item' name='name' required='true' value=(undefined === item ? '' : item.name))
    div.form-group 
      label(for='description') Description: 
      textarea#description.form-control(type='textarea', placeholder='Item description' name='description' rows='3' required='true') #{undefined === item ? '' : item.description}
    div.form-group 
      label(for='category') Category:
      select#category.form-control(type='select' placeholder='Select category' name='category' required='true')
        for category in categories 
          if item 
            //- Handle GET form where item.category is an object, and POST form where it is a string
            option(
              value=category._id 
              selected=(
                category._id.toString() == item.category._id 
                || category._id.toString() == item.category 
              ) ? 'selected' : false 
            ) #{item.name} 
          else
            option(value=category._id) #{category.name}   
    div.form-group  
      label(for='price') Price: 
      input#price.form-control(type='number' placeholder='Price' name='price' required='true' step='any' value=(undefined === item ? '' : item.price))
    div.form-group 
      label(for='numberInStock') Number in Stock: 
      input#number-in-stock.form-control(type='number' placeholder='Number in stock' name='numberInStock' required='true' value=(undefined === item ? '' : item.numberInStock))
    div.form-group 
      label(for='colorway') Colorway: 
      input#colorway.form-control(type='text' placeholder='Item colorway' name='colorway' required='true' value=(undefined === item ? '' : item.colorway))
    div.form-group 
      label(for='picture') Picture:
      input#picture.form-control(type='file' name='picture')
    button.btn.btn-primary(type='submit') Submit 
  
  if errors 
    ul 
      for error in errors 
        li != error.msg